.sidebar {
    background-color: var(--slack-color);
    border-top: 1px solid #49274b;
    max-width: 260px;
    color: white;
    padding: 0 .4rem;
}

.sidebar > hr {
    margin: .625rem 0;
    border: 1px solid #49274b;
}

.sidebar__header {
    display: flex;
    border-bottom: 1px solid #49274b;
    padding-bottom: .625rem;
    padding: .8125rem;
    justify-content: space-between;
}

.sidebar__header > .MuiSvgIcon-root {
    padding: .5rem;
    color: #49274b;
    font-size: .8rem;
    background-color: white;
    border-radius: 999px;
}

.sidebar__info > h3 {
    display: flex;
    align-items: center;
    font-size: .8125rem;
    font-weight: 400;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
    font-size: .875rem;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
}

.sidebar__info > h2 {
    font-size: 1rem;
}

.sidebar__info {
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}