.chat {
    flex: 0.8;
    flex-grow: 1;
    overflow-y: scroll;
    padding-bottom: 9.37rem;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 1px solid lightgray;
}

.chat__headerRight > p {
    display: flex;
    align-items: center;
    font-size: .9rem;
}
.chat__headerRight >  p > .MuiSvgIcon  {
    margin-right: 5px !important;
    font-size: 1rem;
}

.chat__channelName {
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.chat__channelName > .MuiSvgIcon-root {
    margin-left: .6rem;
    font-size: 1.125rem;
}