.login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login__container > img {
    object-fit: cover;
    height: 6.25rem;
    margin-bottom: 2.5rem;
}

.login__container > button {
    margin-top: 3.125rem;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}

.login__container > h3 {
    margin-top: 3rem;
    font-size: 1.5rem;
}

h1 {
    font-size: 2rem;
}

.login {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0.2rem 1.2rem black;
    border-radius: 12px;
    width: 80vh;
    margin: .7rem auto;
}

.login__my-image {
    border-radius: 6px;
    margin-top: 1rem;
}