.chat-input {
    border-radius: 20px;
}

.chat-input > form {
    position: relative;
    display: flex;
    justify-content: center;
}

.chat-input > form > input {
    position: fixed;
    bottom: 1.875rem;
    width: 60%;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 1.25rem;
}

.chat-input > form > button {
    display: none;
}
