.sidebar-option {
    display: flex;
    align-items: center;
    font-size: .75rem;
    cursor: pointer;
    padding-left: 2px;
}

.sidebar-option:hover {
    background-color: #340e36;
    opacity: .9;
}

.sidebar-option__icon {
    padding: .625rem;
    font-size: .93rem !important;
}

.sidebar-option__channel {
    padding: .625rem 0;
}

.sidebar-option__hash {
    padding: .625px;
}

sidebar-option > h3 {
    font-weight: 500;
}